.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 75%;
  margin: 0 auto;
}
.progress {
  text-align: center;
  width: 300px;
  margin: 2em auto;
}
.width {
  width: 9em;
}
