.container {
  margin: 5em;
  display: flex;
  flex-wrap: wrap;
  margin: 5em auto;
  justify-content: space-around;
}
.project {
  width: 350px;
  display: flex;

  overflow: hidden;
  cursor: pointer;
  margin: 0 10px 10px 10px;
}
.front {
  z-index: -1;
}
.back {
  width: 350px;

  overflow: hidden;
  height: 224px;
  z-index: -1;
  background-color: #242a35;
  position: absolute;
}
.desc {
  margin: 3em 0;
}
.desc span {
  color: white;
  font-size: 1.3em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: var(--raleway);
  font-weight: bold;
}
.desc p {
  margin: 1em;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: var(--raleway);
}
.tec {
  display: flex;
  text-align: center;
  margin-left: 25px;
}
.tec p {
  font-size: 0.7em;
}

@media (max-width: 370px) {
  .project {
    width: 300px;
  }
  .back {
    width: 300px;
  }
}
