.avatar {
  width: 12em;
  height: 12em;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 20px;
  border: 3px solid var(--colorRed);
}

.avatar img {
  position: center;
  width: 15em;
  box-shadow: 1px 9px 31px -15px black;
  margin-left: -30px;
  margin-top: -20px;
}

.info h5 {
  font-size: 1.5em;
  font-family: var(--raleway);
  text-align: center;
  font-weight: 400;
}
.info h5 span {
  font-weight: 700;
}

.info p {
  width: 70%;
  text-align: center;
  color: #6c757d;
  font-size: 0.85em;
  margin: 0 auto;
}
