.tabs {
  width: 50%;
  margin: 0 auto;
  display: flex;
  background-color: #eee;
  justify-content: space-around;
  margin-top: 2em;
  align-content: center;
}

.tab {
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  color: white;
  font-family: var(--raleway);
  font-weight: bold;
  color: black;
  cursor: pointer;
}
.selected {
  color: white;
  background-color: var(--colorRed);
}
.selected:hover {
  background-color: var(--colorRed) !important;
}

.tab:hover {
  background: black;
  color: white;
  transition: all 0.3s ease;
}
