.container {
  background-color: #242a35;
  padding: 3em;
  color: white;
}
.infoPersonal {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.info {
  text-align: center;
  width: 50%;
  color: white;
  display: block;
}

@media (max-width: 420px) {
  .info span {
    font-size: 0.7em;
  }
}
