.container {
  background-color: #242a35;
  padding: 3em;
  color: white;
}
.infoPersonal {
  display: flex;
  justify-content: space-around;
}
.info {
  text-align: center;
  margin: 3em;
  color: white;
  display: block;
}
